/*html {  body won't work ¯\_(ツ)_/¯
    scroll-snap-type: y mandatory;
  }
   */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bebas Neue', serif;
    font-size: 10px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
  }



a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.build-image-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75vw;
    
}

.build-image{
    width: 75vw;
    transform: scale(1.3);
}


.menu-container{
    display: flex;
    flex-direction: column;
    height: 91px;
}


.menu-item{
    text-align: center;
    width: 100px;
    cursor: pointer;
    padding: 5px;
}
.menu-item-link{
    font-size: 1.8rem;
}

.menu-item:hover{
    transform: translateY(-3px);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}

.header-menu-button{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 2.2rem;
}

.header-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-title{
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 3rem;
    padding-left: 2%;
    padding-right: 2%;
}

.header-line{
    flex-grow: 100;
    background-color: black;
    height: 1rem;
}

.content-description-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}
.content-description-text{
    text-align: center;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.8rem;
}


.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services-title{
    margin-top: 17vh;
    margin-bottom: 12vh;
    text-align: center;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 3rem;
}


.services-images-container{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    width: 100%;
}

.services-images-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.services-description{
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center;
    margin-top: 2.5rem;
}

.services-description-pop-up{
    margin-top: 3rem;
    width: 80%;
    background: #000;
    min-height: 5.3rem;
    border-radius: 5px;
    padding: 1.6rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: white;
    text-align: center;
}

.service-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.hide1 {
    display: none;
}

#item1:hover + .hide1{ 
    display: block;
}

.hide2 {
    display: none;
}

#item2:hover + .hide2{ 
    display: block;
}

.hide3 {
    display: none;
}

#item3:hover + .hide3{ 
    display: block;
}

.hide4 {
    display: none;
}

#item4:hover + .hide4{ 
    display: block;
}

.contacto-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto-title{
    margin-top: 17vh;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 3rem;
}

.contacto-description{
    width: 30%;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 1.8rem;
    font-weight: 400;
    font-family: 'Roboto';
}

.contacto-description-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto-form-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
}

.contacto-form-container-item{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-form-detail-container{
    display: flex;
    flex-direction: column;
}

.detail-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
}

.detail-item-icon{
    width: 10%;
}

.detail-item-data{
    width: 90%;
    font-family: Arvo;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto';
}

input[type="text"] {
    background: #000;
    height: 30px;
    border: none;
    padding-left: 15px;
    padding-top: 3px;
    width: 55%;
    margin-bottom: 10px;
    color: white;
  }

  textarea{
    background: #000;
    height: 60px;
    border: none;
    padding-left: 15px;
    padding-top: 3px;
    width: 55%;
    margin-bottom: 10px;
    color: white;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size: 1.6rem;
  }


  .contacto-form-button-container {
    
      margin-top: 10px;
      display:flex;
      width: 55%;
      flex-direction: row-reverse;
  }

  .contacto-form-button{
    background: #000;
    color: white;
    padding: 4px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
    font-size: 1.6rem;
  }

  .services-img{
    width: auto;
}